@use "sass:math";
@import "_functions.scss";
@import "_fonts.scss";
@import "_vars.scss";
@import "_reset.scss";

body {
   width: 100%;
   font-size: toRem(16);
   font-family: 'Causten', serif;
}

.wrapper {
   position: relative;
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;

   &>main {
      flex-grow: 1;
   }
}

