body {
   width: 100%;
   font-size: 24px;
}
.wrapper {
   position: relative;
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.page {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1270px;
   padding: 15px auto;
   margin: 0 auto;
}

.task__img {
   width: 200px;
}

a {
   text-decoration: none;
}

.footer a {
   font-size: 30px;
}

a:hover {
   text-decoration: underline;
}

h2 {
   color: brown;
}

h3 {
   font-size: 20px;
}

footer {
   padding-top: 50px;
}

table {
   text-align: center;
}

li {
   list-style: none;
   line-height: 1.6;
}

li:hover {
   text-decoration: underline;
   color: orange;
}

ul, ol {
   padding: 0;
}

.first-column {
   text-align: left;
   min-width: 300px;
}

.second-column{
   text-align: left;
   min-width: 100px;
}

.third-column {
   text-align: right;
}
